<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="icon" href="../../resources/img/CODI_logo_title.png" type="image/png" />
  <title>Coding4Life</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../resources/css/bootstrap.css" />
  <link rel="stylesheet" href="../../resources/css/flaticon.css" />
  <link rel="stylesheet" href="../../resources/css/themify-icons.css" />
  <link rel="stylesheet" href="../../resources/vendors/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="../../resources/vendors/nice-select/css/nice-select.css" />
  <!-- main css -->
  <link rel="stylesheet" href="../../resources/css/style.css" />
</head>
<body>
<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="banner_content text-center">
            <h2 style="color: #fdc632">Course Details</h2>
            <div class="page_link">
              <a href="index.html">Home</a>
              <a href="courses.html">Courses</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start Course Details Area =================-->
<section class="course_details_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 course_details_left">
        <div class="main_image">
          <img style="width: 700px" class="img-fluid" src="https://img-b.udemycdn.com/course/480x270/2259120_305f_6.jpg" alt="">
        </div>
        <div class="content_wrapper">
          <h4 class="title">Objectives</h4>
          <div class="content">
            When you enter into any new area of science, you almost always find yourself with a
            baffling new language of
            technical terms to learn before you can converse with the experts. This is certainly
            true in astronomy both in
            terms of terms that refer to the cosmos and terms that describe the tools of the trade,
            the most prevalent
            being the telescope.
          </div>

          <h4 class="title">Description</h4>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
          </div>

          <h4 class="title">Who this course is for:</h4>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
          </div>

          <h4 class="title">Course Outline</h4>
          <div class="content">
            <ul class="course_list">
              <li class="justify-content-between d-flex">
                <p>Introduction Lesson</p>
                <a class="primary-btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Basics of HTML</p>
                <a class="primary-btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Getting Know about HTML</p>
                <a class="primary-btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Tags and Attributes</p>
                <a class="primary-btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Basics of CSS</p>
                <a class="primary-btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Getting Familiar with CSS</p>
                <a class="primary-btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Introduction to Bootstrap</p>
                <a class="primary-btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Responsive Design</p>
                <a class="primary-btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Canvas in HTML 5</p>
                <a class="primary-btn text-uppercase" href="#">View Details</a>
              </li>

            </ul>
          </div>
        </div>
      </div>


      <div class="col-lg-4 right-contents">
        <ul>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Trainer</p>
              <span class="or">ChienNDA</span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Course Fee </p>
              <span class="or">1,249,000 VNĐ</span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Slot </p>
              <span>20</span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Schedule </p>
              <span>6.00 pm <i class="ti-alarm-clock"></i> 9.00 pm</span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Duration </p>
              <span>03-03-2023 <i class="ti-calendar"></i> 04-06-2023</span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Course create by </p>
              <span class="or">PhuongNH</span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Last update by</p>
              <span class="or">PhuongNH</span>
            </a>
          </li>
          <li>
            <a class="justify-content-between d-flex" href="#">
              <p>Last update at </p>
              <span>06-03-2023</span>
            </a>
          </li>
        </ul>
        <a href="#" class="primary-btn2 text-uppercase enroll rounded-0">Enroll the course</a>
      </div>
    </div>
    <h4 class="title">Reviews</h4>
    <div class="content">
      <div class="review-top row pt-40">
        <div class="col-lg-4">
          <h6 class="mb-15">Ratings</h6>
          <div class="d-flex flex-row reviews justify-content-between">
            <div class="star">
              <i class="ti-star checked"></i>
              <i class="ti-star checked"></i>
              <i class="ti-star checked"></i>
              <i class="ti-star checked"></i>
              <i class="ti-star checked"></i>
            </div>
            <span>224</span>
          </div>
          <div class="d-flex flex-row reviews justify-content-between">
            <div class="star">
              <i class="ti-star checked"></i>
              <i class="ti-star checked"></i>
              <i class="ti-star checked"></i>
              <i class="ti-star checked"></i>
              <i class="ti-star"></i>
            </div>
            <span>102</span>
          </div>
          <div class="d-flex flex-row reviews justify-content-between">
            <div class="star">
              <i class="ti-star checked"></i>
              <i class="ti-star checked"></i>
              <i class="ti-star checked"></i>
              <i class="ti-star"></i>
              <i class="ti-star"></i>
            </div>
            <span>5</span>
          </div>
          <div class="d-flex flex-row reviews justify-content-between">
            <div class="star">
              <i class="ti-star checked"></i>
              <i class="ti-star checked"></i>
              <i class="ti-star"></i>
              <i class="ti-star"></i>
              <i class="ti-star"></i>
            </div>
            <span>2</span>
          </div>

          <div class="d-flex flex-row reviews justify-content-between">
            <div class="star">
              <i class="ti-star checked"></i>
              <i class="ti-star"></i>
              <i class="ti-star"></i>
              <i class="ti-star"></i>
              <i class="ti-star"></i>
            </div>
            <span>8</span>
          </div>
        </div>
      </div>
      <div class="feedeback">
        <h6>Your Feedback</h6>
        <textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
        <div class="mt-10 text-right">
          <a href="#" class="primary-btn2 text-right rounded-0">Submit</a>
        </div>
      </div>
      <div class="comments-area mb-30">
        <div class="comment-list">
          <div class="single-comment single-reviews justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
              <div class="thumb">
                <img src="../../resources/img/blog/c1.jpg" alt="">
              </div>
              <div class="desc">
                <h5><a href="#">Emilly Blunt</a>
                  <div class="star">
                    <span class="ti-star checked"></span>
                    <span class="ti-star checked"></span>
                    <span class="ti-star checked"></span>
                    <span class="ti-star"></span>
                    <span class="ti-star"></span>
                  </div>
                </h5>
                <p class="comment">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="comment-list">
          <div class="single-comment single-reviews justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
              <div class="thumb">
                <img src="../../resources/img/blog/c2.jpg" alt="">
              </div>
              <div class="desc">
                <h5><a href="#">Elsie Cunningham</a>
                  <div class="star">
                    <span class="ti-star checked"></span>
                    <span class="ti-star checked"></span>
                    <span class="ti-star checked"></span>
                    <span class="ti-star"></span>
                    <span class="ti-star"></span>
                  </div>
                </h5>
                <p class="comment">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="comment-list">
          <div class="single-comment single-reviews justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
              <div class="thumb">
                <img src="../../resources/img/blog/c3.jpg" alt="">
              </div>
              <div class="desc">
                <h5><a href="#">Maria Luna</a>
                  <div class="star">
                    <span class="ti-star checked"></span>
                    <span class="ti-star checked"></span>
                    <span class="ti-star checked"></span>
                    <span class="ti-star"></span>
                    <span class="ti-star"></span>
                  </div>
                </h5>
                <p class="comment">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4 class="title">You might also like</h4>
    <div class="popular_courses">
    <div class="row">
      <!-- single course -->
      <div class="col-lg-12">
        <div class="owl-carousel active_course">
          <div class="single_course">
            <div class="course_head">
              <img class="img-fluid" src="../../resources/img/courses/c1.jpg" alt="" />
            </div>
            <div class="course_content">
              <span class="price">1.294.000VNĐ</span>
              <span class="tag mb-4 d-inline-block">Java</span>
              <h4 class="mb-3">
                <a href="course-details.html">Full-Stack Java Web Developer</a>
              </h4>
              <p>
                Java Web Development
              </p>
              <div
                      class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
              >
                <div class="authr_meta">
                  <img src="../../resources/img/courses/author1.png" alt="" />
                  <span class="d-inline-block ml-2">PhuongNH</span>
                </div>
                <div class="mt-lg-0 mt-3">
                      <span class="meta_info mr-4">
                        <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                      </span>
                  <span class="meta_info"
                  ><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="single_course">
            <div class="course_head">
              <img class="img-fluid" src="../../resources/img/courses/c1.jpg" alt="" />
            </div>
            <div class="course_content">
              <span class="price">1.294.000VNĐ</span>
              <span class="tag mb-4 d-inline-block">Java</span>
              <h4 class="mb-3">
                <a href="course-details.html">Full-Stack Java Web Developer</a>
              </h4>
              <p>
                Java Web Development
              </p>
              <div
                      class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
              >
                <div class="authr_meta">
                  <img src="../../resources/img/courses/author1.png" alt="" />
                  <span class="d-inline-block ml-2">PhuongNH</span>
                </div>
                <div class="mt-lg-0 mt-3">
                      <span class="meta_info mr-4">
                        <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                      </span>
                  <span class="meta_info"
                  ><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="single_course">
            <div class="course_head">
              <img class="img-fluid" src="../../resources/img/courses/c1.jpg" alt="" />
            </div>
            <div class="course_content">
              <span class="price">1.294.000VNĐ</span>
              <span class="tag mb-4 d-inline-block">Java</span>
              <h4 class="mb-3">
                <a href="course-details.html">Full-Stack Java Web Developer</a>
              </h4>
              <p>
                Java Web Development
              </p>
              <div
                      class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
              >
                <div class="authr_meta">
                  <img src="../../resources/img/courses/author1.png" alt="" />
                  <span class="d-inline-block ml-2">PhuongNH</span>
                </div>
                <div class="mt-lg-0 mt-3">
                      <span class="meta_info mr-4">
                        <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                      </span>
                  <span class="meta_info">
                    <a href="#"> <i class="ti-heart mr-2"></i>35 </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<!--================ End Course Details Area =================-->
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../resources/js/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/popper.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="../../resources/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../../resources/js/owl-carousel-thumb.min.js"></script>
<script src="../../resources/js/jquery.ajaxchimp.min.js"></script>
<script src="../../resources/js/mail-script.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="../../resources/js/gmaps.min.js"></script>
<script src="../../resources/js/theme.js"></script>
</html>