<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="../../resources/img/CODI_logo_title.png" type="image/png" />
    <title>Coding25$</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.css" />
    <link rel="stylesheet" href="../../resources/css/flaticon.css" />
    <link rel="stylesheet" href="../../resources/css/themify-icons.css" />
    <link rel="stylesheet" href="../../resources/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../../resources/vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="../../resources/css/style.css" />
  </head>
  <body>
    <footer class="footer-area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Top Courses</h4>
            <ul>
              <li><a href="#">Java OOP</a></li>
              <li><a href="#">Mobile Programing</a></li>
              <li><a href="#">Python</a></li>
              <li><a href="#">.NET Web MVC</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Mentors</h4>
            <ul>
              <li><a href="#">Hoai Phuong</a></li>
              <li><a href="#">Minh Chau</a></li>
              <li><a href="#">Minh Quoc</a></li>
              <li><a href="#">Phuc Thinh</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Features</h4>
            <ul>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Brand Assets</a></li>
              <li><a href="#">Investor Relations</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Resources</h4>
            <ul>
              <li><a href="#">Guides</a></li>
              <li><a href="#">Research</a></li>
              <li><a href="#">Experts</a></li>
              <li><a href="#">Agencies</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 single-footer-widget">
            <h4>Newsletter</h4>
            <p>You can trust us. we only send promo offers,</p>
            <div class="form-wrap" id="mc_embed_signup">
              <form target="_blank" action="" method="get" class="form-inline">
                <input
                  class="form-control"
                  name="EMAIL"
                  placeholder="Your Email Address"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Your Email Address'"
                  required=""
                  type="email"
                />
                <button class="click-btn btn btn-default">
                  <span>subscribe</span>
                </button>
                <div style="position: absolute; left: -5000px">
                  <input tabindex="-1" value="" type="text" />
                </div>

                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
        <hr style="background-color: #ffffff" />
        <div class="row footer-bottom d-flex justify-content-between">
          <p
            class="col-lg-8 col-sm-12 footer-text m-0 text-center"
            style="color: #ffffff"
          >
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This website is made by TEAM 3 - FPT
            Academy<br />
            Address: Road D1, D. D1, Tan Phu Ward, District 9, Ho Chi Minh City,
            Vietnam<br />
            Phone: (+84) 936 999 999 | Email: infoTeam3@fa.edu.vn
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          <div class="col-lg-4 col-sm-12 footer-social">
            <a href="#"><i class="ti-facebook"></i></a>
            <a href="#"><i class="ti-instagram"></i></a>
            <a href="#"><i class="ti-youtube"></i></a>
            <a href="#"><i class="ti-linkedin"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../resources/js/jquery-3.2.1.min.js"></script>
    <script src="../../resources/js/popper.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="../../resources/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../../resources/js/owl-carousel-thumb.min.js"></script>
    <script src="../../resources/js/jquery.ajaxchimp.min.js"></script>
    <script src="../../resources/js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="../../resources/js/gmaps.min.js"></script>
    <script src="../../resources/js/theme.js"></script>
  </body>
</html>
