<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="../../resources/img/CODI_logo_title.png" type="image/png" />
    <title>Coding25$</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.css" />
    <link rel="stylesheet" href="../../resources/css/flaticon.css" />
    <link rel="stylesheet" href="../../resources/css/themify-icons.css" />
    <link rel="stylesheet" href="../../resources/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../../resources/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="../../resources/css/header.css" />
    <!-- main css -->
    <link rel="stylesheet" href="../../resources/css/style.css" />
  </head>

  <body>
    <header class="header_area">
      <div class="main_menu">
        <div class="search_input" id="search_input_box">
          <div class="container">
            <form class="d-flex justify-content-between" method="" action="">
              <input
                type="text"
                class="form-control"
                id="search_input"
                placeholder="Search for any courses"
              />
              <button type="submit" class="btn"></button>
              <span
                class="ti-close"
                id="close_search"
                title="Close Search"
              ></span>
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="index.html"
              ><img class="img-logo" src="../../resources/img/CODI_logo.png" alt="Logo"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Categories</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Java</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">JavaScript</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">.NET</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Flutter</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about-us.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="ti-shopping-cart"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="#"
                    class="nav-link"
                    onclick="document.getElementById('login-form').style.display='block'"
                    >Login
                  </a>
                </li>

                <div id="login-form" class="modal">
                  <form class="modal-content animate" action="" method="">
                    <div class="imgcontainer">
                      <span
                        onclick="document.getElementById('login-form').style.display='none'"
                        class="close"
                        title="Close Modal"
                        >&times;</span
                      >
                      <img
                        src="../../resources/img/CODI_logo.png"
                        alt="Avatar"
                        class="avatar"
                      />
                    </div>

                    <div class="container">
                      <label for="uname"><b>Username or Phone</b></label>
                      <input
                        type="text"
                        placeholder="Enter Username Or Phone"
                        name="uname"
                        required
                      />

                      <label for="psw"><b>Password</b></label>
                      <input
                        type="password"
                        placeholder="Enter Password"
                        name="psw"
                        required
                      />

                      <button type="submit" class="modal-login-btn">
                        Login
                      </button>
                      <button class="modal-login-btn-google">
                        <a href="#!"><i class="ti-google"></i></a>
                      </button>

                      <div class="remember-me">
                        <label>
                          <input
                            type="checkbox"
                            checked="checked"
                            name="remember"
                          />
                          Remember me
                        </label>
                        <span class="psw"
                          >Forgot
                          <a href="forgot-pwd-form.html">password?</a></span
                        >
                      </div>
                    </div>

                    <div class="container" style="background-color: #f1f1f1">
                      <button
                        type="button"
                        onclick="document.getElementById('login-form').style.display='none'"
                        class="cancelbtn"
                      >
                        Cancel
                      </button>
                      <div style="float: right; margin-top: 3%">
                        <p>
                          Don't have an account?
                          <a href="register.html">Sign Up</a>
                        </p>
                      </div>
                    </div>
                  </form>
                </div>

                <!-- Avatar user after login success -->
                <!-- <li class="nav-item submenu dropdown">
                    <a
                      href="#"
                      class="nav-link dropdown-toggle avatar_user"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><img class="avatar_user_image" src="././img/VU_09217 (6).jpg"
                    /></a>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Edit profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Purchase history</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Log out</a>
                      </li>
                    </ul>
                  </li> -->
                <li class="nav-item">
                  <a href="#" class="nav-link search" id="search">
                    <i class="ti-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </body>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../../resources/js/jquery-3.2.1.min.js"></script>
  <script src="../../resources/js/popper.js"></script>
  <script src="../../resources/js/bootstrap.min.js"></script>
  <script src="../../resources/vendors/nice-select/js/jquery.nice-select.min.js"></script>
  <script src="../../resources/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="../../resources/js/owl-carousel-thumb.min.js"></script>
  <script src="../../resources/js/jquery.ajaxchimp.min.js"></script>
  <script src="../../resources/js/mail-script.js"></script>
  <script src="../../resources/js/login.btn.js"></script>
  <!--gmaps Js-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
  <script src="../../resources/js/gmaps.min.js"></script>
  <script src="../../resources/js/theme.js"></script>
</html>
